body{
    background-color: blanchedalmond;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper > div{


    border: 1px solid gray;
    box-shadow: 10px 10px 10px ;
    border-radius: 10px;
    width: 70vw;
    height: auto;
    margin-bottom: 20px;
}
div>h1{
    margin: 10px;
}
div>p{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: justify;

}
div > button{
    margin: 10px;
    margin-bottom: 20px;
}